:root {
    background: #F4F4F4;
}
TextField {
    padding: 5px;
    border: 1px solid linear-gradient(to bottom, #CDCDCD, #B8B8B8);
    background: linear-gradient(from 0px 0px to 0px 5px, #EEE, #fff);
    border-radius: 3px;
 }
.text { font-size: 16px; color: #323232; }
.selection { background: #0096C9; color: #fff; font-size: 16px; }

Button {
    border: 1px solid #B6B6B6;
    border-radius: 5px;
    background: linear-gradient(to bottom, #EFEFEF, #D9D9D9);
    padding: 1px 10px 4px 10px;

    transition: background 100ms;
}
.button-text { font-size: 20px; color: #000; }
:active { background: linear-gradient(to bottom, #E2E2E2, #CDCDCD); }
/*:focus {border: 5px solid #f00;}*/

.main { gap: 10px; }

Label { text-align: left; font-size: 16px; }

Table { border: 1px solid #C8C8C8; }
TableHeader { background: linear-gradient(to bottom, #EFEFEF, #D9D9D9); }
TableColumnHeader { font-weight: bold; padding: 5px 6px; font-size: 12px; text-align: center; }
TableRow { min-height: 32px;}
TableRow:nth-child(2n+1) { background: #FFFFFF;}
TableRow:nth-child(2n) { background: #F9F9F9; }